/cmake-build-debug/
/data/paca/
/provided/matdistpaca_600_1500_tps_90/
/data/paca_v2/
/data/paca_v3/
/provided/Matrice_600_1500_avec_origines_et_destinations_avec_capacités/
/provided/Matrice_cplt/
/data/paca_v4/
/data/Literature/dist_*_*.txt
/data/Random/dist_*.txt
/provided/
/results/*
!results/
/reports/*
!reports/
/console/*
!console/
model.lp
build
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/large_PMP.dir/build.make
build/CMakeFiles/large_PMP.dir/cmake_clean.cmake
build/CMakeFiles/large_PMP.dir/CXX.includecache
build/CMakeFiles/large_PMP.dir/depend.internal
build/CMakeFiles/large_PMP.dir/depend.make
build/CMakeFiles/large_PMP.dir/DependInfo.cmake
build/CMakeFiles/large_PMP.dir/flags.make
build/CMakeFiles/large_PMP.dir/link.txt
build/CMakeFiles/large_PMP.dir/progress.make
build/CMakeFiles/large_PMP.dir/src/globals.cpp.o
build/CMakeFiles/large_PMP.dir/src/instance.cpp.o
build/CMakeFiles/large_PMP.dir/src/main.cpp.o
build/CMakeFiles/large_PMP.dir/src/RSSV.cpp.o
build/CMakeFiles/large_PMP.dir/src/solution_cap.cpp.o
build/CMakeFiles/large_PMP.dir/src/solution_std.cpp.o
build/CMakeFiles/large_PMP.dir/src/solution.cpp.o
build/CMakeFiles/large_PMP.dir/src/TB.cpp.o
build/CMakeFiles/large_PMP.dir/src/utils.cpp.o
build/cmake_install.cmake
build/CMakeCache.txt
build/large_PMP